@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700;900&display=swap');

root {
    /* Colors*/
    --primary-color: #4a90e2; 
    --button-color: #004cff;
    --button-hover: #4acadb;
    --background-white: #f4f1f1;

    --text-dark: #333;
    --text-light: #FFFFFF;
    --input-border: #333;
    --input-focus: #5d7ef5;

    /*Spacing*/
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;


    /*Typography*/
    --font: Comfortaa, sans-serif;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-title: 3.5rem;
    --font-weight-normal: 400;
    --front-weight-semibold: 600;
    --font-weight-black: 900;

    /*Effects*/
    --border-radius: 0.5rem;
    --border-radius-lg: 1.25rem;
    --transitin: 0.3s ease;
    
}

* { 
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family:  var(--font);
    font-size: var(--font-size-base);
    color: var(--text-dark);
    background-color: var(--background-white);
    min-height: 100vh;
    line-height: 1.5;
}

/* Layout with CSS Grid*/

body{
    display: grid;
    grid-template-columns: 40%, 60%;
    padding: 1.25 rem;
    padding: 0;
}

/* Left Section*/

#login-info {
    background: linear-gradient(165deg, #6eb1f7 0%, #4a8fe8 50%, #3d82dd 100%);
    color: var(--text-light);
    padding: var(--spacing-xl);
    border-radius: var(--border-radius-lg);
    box-shadow: 2 2px 8px #0c00000f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#login-info h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-black);
    line-height: 1.1;
    letter-spacing: -0.023em;
    margin-bottom: var(--spacing-lg);
}

#login-info p {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    line-height: 1.7;
    max-width: 28rem;
}

#login-info em {
    font-style: italic;
    font-weight: 500;
}